# Python related
**pycache**/
*.pyc
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
.venv/

# Logs and data
logs/
*.log
data/

# Docker
docker/
*.sif
.DS_Store

# Ignore any sensitive files
.env

# Test and coverage files
.coverage
.coverage.*
htmlcov/
test_mlflow/
mlflow.db
mlruns/

# MLflow related
*.parquet
mlruns/
mlflow.db

# Temporary files
*.tmp
*.temp
.DS_Store

# IDE and system files
.idea/
.vscode/
