<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tradingbot.keyscope</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/skylar/anaconda3/bin/python</string>
        <string>/Users/skylar/Desktop/trading_bot/scripts/cron/verify_key_scope_daily.py</string>
    </array>

    <!-- Run at 09:00 UTC on weekdays -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>3</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
            <key>Weekday</key>
            <integer>5</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/com.tradingbot.keyscope.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.tradingbot.keyscope.err</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
